.header{
    background: rgb(123, 185, 123);
    display: flex;
    justify-content: space-between;
}
.InputLoGin{
    display: flex;
    
}

.home{
    display: block;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: space-around;
}
.page{
   background: rgb(232, 230, 230);
   width: 70%;
   margin: auto;
   margin-top: 50px;
}
.image{
    width: 70%;
    height: 250px;
}