.formLogin{
    width: 60%;
    height: 400px;
    position: relative;
    top: 50px;
    padding-top: 25px;
    
}
h2{
    text-align: center;
}
.formContaint{
    text-align: center;
}
.inputLogin{

    width: 70%;
    height: 40px;
    margin: 10px;
}
.btnLogin{
    display: block;
    margin: auto;
    height: 50px;
    width: 200px;
    background-color: green;
}
p{
    position: relative;
    top: -60px;
 text-align: center;
 color: white;
 z-index: 1;
}